        /**
* code poet style sheet
*/
        /******************************************************************************************************** 
*   FONT FAMILY 
*    
font-family: 'Charmonman', cursive;
font-family: 'Niramit', sans-serif;
font-family: 'Raleway', sans-serif;
font-family: 'Oswald', sans-serif;
font-family: 'Slabo 27px', serif;
font-family: 'PT Sans', sans-serif;
font-family: 'Mali', cursive;
font-family: 'Open Sans Condensed', sans-serif;
font-family: 'Roboto Slab', serif;
font-family: 'Merriweather', serif;
font-family: 'Noto Sans', sans-serif;
font-family: 'Ubuntu', sans-serif;
font-family: 'Krub', sans-serif;
font-family: 'Poppins', sans-serif;
font-family: 'Playfair Display', serif;
font-family: 'Roboto Mono', monospace;
font-family: 'PT Serif', serif;
font-family: 'Lora', serif;
font-family: 'Kodchasan', sans-serif;
font-family: 'PT Sans Narrow', sans-serif;
font-family: 'Muli', sans-serif;
font-family: 'Titillium Web', sans-serif;
font-family: 'Arimo', sans-serif;
font-family: 'Nunito', sans-serif;
font-family: 'Inconsolata', monospace;
font-family: 'Nanum Gothic', sans-serif;
font-family: 'Mukta', sans-serif;
font-family: 'Chakra Petch', sans-serif;
font-family: 'Dosis', sans-serif;
font-family: 'Crimson Text', serif;
font-family: 'Fahkwang', sans-serif;
font-family: 'KoHo', sans-serif;
font-family: 'Oxygen', sans-serif;
font-family: 'Rubik', sans-serif;
font-family: 'Bitter', serif;
font-family: 'Bai Jamjuree', sans-serif;
font-family: 'K2D', sans-serif;
font-family: 'Roboto', sans-serif;
font-family: 'Open Sans', sans-serif;
font-family: 'Lato', sans-serif;
font-family: 'Montserrat', sans-serif;
font-family: 'Roboto Condensed', sans-serif;
font-family: 'Source Sans Pro', sans-serif;
font-family: 'Fira Sans', sans-serif;
font-family: 'Noto Serif', serif;
font-family: 'Work Sans', sans-serif;
font-family: 'Quicksand', sans-serif;
font-family: 'Indie Flower', cursive;
font-family: 'Libre Baskerville', serif;
font-family: 'Hind', sans-serif;
font-family: 'Josefin Sans', sans-serif;
font-family: 'Anton', sans-serif;
font-family: 'Fjalla One', sans-serif;
font-family: 'Cabin', sans-serif;
font-family: 'Arvo', serif;
font-family: 'Libre Franklin', sans-serif;
font-family: 'Karla', sans-serif;
font-family: 'Noto Sans KR', sans-serif;
font-family: 'Lobster', cursive;
font-family: 'Varela Round', sans-serif;
font-family: 'Exo 2', sans-serif;
font-family: 'Nunito Sans', sans-serif;
font-family: 'Abel', sans-serif;
font-family: 'Pacifico', cursive;
font-family: 'Srisakdi', cursive;
font-family: 'Merriweather Sans', sans-serif;
font-family: 'Shadows Into Light', cursive;
font-family: 'Yanone Kaffeesatz', sans-serif;
font-family: 'Source Serif Pro', serif;
font-family: 'Source Code Pro', monospace;
font-family: 'Dancing Script', cursive;
font-family: 'Asap', sans-serif;
font-family: 'Archivo Narrow', sans-serif;
font-family: 'Noto Sans JP', sans-serif;
font-family: 'Acme', sans-serif;
font-family: 'Ubuntu Condensed', sans-serif;
font-family: 'Abril Fatface', cursive;
font-family: 'Bree Serif', serif;
font-family: 'Signika', sans-serif;
font-family: 'Kanit', sans-serif;
font-family: 'Gloria Hallelujah', cursive;
font-family: 'Questrial', sans-serif;
font-family: 'Comfortaa', cursive;
font-family: 'Encode Sans Condensed', sans-serif;
font-family: 'Exo', sans-serif;
font-family: 'Amatic SC', cursive;
font-family: 'Hind Siliguri', sans-serif;
font-family: 'Maven Pro', sans-serif;
font-family: 'Righteous', cursive;
font-family: 'Notable', sans-serif;
font-family: 'EB Garamond', serif;
font-family: 'Cairo', sans-serif;
font-family: 'Rokkitt', serif;
font-family: 'Crete Round', serif;
font-family: 'Play', sans-serif;
font-family: 'Hind Madurai', sans-serif;
font-family: 'Heebo', sans-serif;
font-family: 'Teko', sans-serif;
font-family: 'Catamaran', sans-serif;
font-family: 'Patua One', cursive;
font-family: 'Cuprum', sans-serif;
font-family: 'Rajdhani', sans-serif;
font-family: 'Vollkorn', serif;
font-family: 'Noto Serif JP', sans-serif;
font-family: 'Noto Serif KR', sans-serif;
font-family: 'Alegreya', serif;
font-family: 'Alegreya Sans', sans-serif;
font-family: 'Permanent Marker', cursive;
font-family: 'Satisfy', cursive;
font-family: 'ABeeZee', sans-serif;
font-family: 'Old Standard TT', serif;
font-family: 'Ropa Sans', sans-serif;
font-family: 'Great Vibes', cursive;
font-family: 'Domine', serif;
font-family: 'Courgette', cursive;
font-family: 'Fira Sans Condensed', sans-serif;
font-family: 'Pathway Gothic One', sans-serif;
font-family: 'News Cycle', sans-serif;
font-family: 'Noticia Text', serif;
font-family: 'Cardo', serif;
font-family: 'Assistant', sans-serif;
font-family: 'Kaushan Script', cursive;
font-family: 'Quattrocento Sans', sans-serif;
font-family: 'Cookie', cursive;
font-family: 'Archivo Black', sans-serif;
font-family: 'Cormorant Garamond', serif;
font-family: 'Prompt', sans-serif;
font-family: 'Luckiest Guy', cursive;
font-family: 'Fredoka One', cursive;
font-family: 'Orbitron', sans-serif;
font-family: 'Poiret One', cursive;
font-family: 'Khand', sans-serif;
font-family: 'Economica', sans-serif;
font-family: 'Lobster Two', cursive;
font-family: 'Amiri', serif;
font-family: 'Tinos', serif;
font-family: 'Alfa Slab One', cursive;
font-family: 'Russo One', sans-serif;
font-family: 'Quattrocento', serif;
font-family: 'Concert One', cursive;
font-family: 'Istok Web', sans-serif;
font-family: 'Caveat', cursive;
font-family: 'Passion One', cursive;
font-family: 'Monoton', cursive;
font-family: 'Patrick Hand', cursive;
font-family: 'Nanum Myeongjo', serif;
font-family: 'Yellowtail', cursive;
font-family: 'Volkhov', serif;
font-family: 'Monda', sans-serif;
font-family: 'Pontano Sans', sans-serif;
font-family: 'Barlow', sans-serif;
font-family: 'Kalam', cursive;
font-family: 'Chivo', sans-serif;
font-family: 'Josefin Slab', serif;
font-family: 'BenchNine', sans-serif;
font-family: 'Basic', sans-serif;
font-family: 'Gudea', sans-serif;
font-family: 'Didact Gothic', sans-serif;
font-family: 'Sanchez', serif;
*
*
*/
        
        #nav-background {
            background-image: url('./../imgs/above-the-fold-background.jpg');
            position: absolute;
            top: 0;
            left: 0;
            opacity: 1;
            width: 100%;
            height: 100%;
        }
        
        nav.nav-extended {
            height: auto;
        }
        
        nav {
            font-family: 'Bia Jamjuree', sans-serif;
            color: #fff;
            /* background-color: rgb(186, 104, 200); */
            background-color: transparent !important;
            position: relative;
            box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
            z-index: 10;
        }
        
        .nav-content h1 {
            text-align: center;
            font-size: 56px;
            font-weight: 600;
            padding-top: 40px;
            padding-bottom: 40px;
        }
        
        .sub-heading {
            display: block;
            margin-top: -55px;
            margin-bottom: 40px;
        }
        
        .margin-break {
            margin-top: 40px;
            display: block;
        }
        
        #plant {
            height: 25%;
            margin-top: 30px;
            display: inline-block;
            position: relative;
        }
        
        nav .brand-logo {
            position: absolute;
            color: #fff;
            display: inline-block;
            font-size: 1.8rem !important;
            padding: 0;
            font-family: 'Raleway', sans-serif;
        }
        
        #header-text {
            font-weight: 700;
            font-size: 34px;
            line-height: 2.78rem;
            font-family: 'Raleway', sans-serif;
        }
        
        #lower-text {
            font-size: 20px;
            line-height: 1.15;
            font-family: 'Raleway', sans-serif;
            text-align: center;
        }
        
        .image-layer {
            position: absolute;
            left: 60px;
            top: 100px;
        }
        
        #mobile-demo {
            background-color: #59A532;
            color: #fff !important;
        }
        
        .sidenav li>a {
            color: #fff;
            display: block;
            font-size: 18px;
            font-weight: 700;
            height: 48px;
            line-height: 48px;
            padding: 0 32px;
        }
        
        @media only screen and (max-width: 992px) {
            .image-layer {
                position: absolute;
                left: 0px;
                top: 100px;
            }
            #features {
                font-family: 'Raleway', sans-serif;
                display: flex;
                display: -webkit-flex;
                flex-direction: column-reverse !important;
            }
            #image {
                order: 2;
            }
            #text {
                order: 1;
            }
        }
        
        #features {
            font-family: 'Raleway', sans-serif;
            display: flex;
            display: -webkit-flex;
            flex-direction: row;
        }
        
        #image {
            order: 1;
        }
        
        #text {
            order: 2;
        }
        
        .iconic {
            color: #59A532;
            font-weight: 400;
        }
        
        .colored {
            color: darkgreen;
            font-weight: 300;
            letter-spacing: 2px;
        }
        
        .colored-heading {
            color: darkgreen;
            font-weight: 500;
        }
        
        .subtext {
            color: gray;
            font-size: 16px;
            font-weight: 200;
        }
        
        .parallax-header {
            color: #fff;
            font-weight: 600;
            text-align: center;
            font-size: 54px;
            font-family: 'Raleway', sans-serif;
        }
        
        .parallax-text {
            font-weight: 500;
            color: #fff;
            font-size: 1.6rem;
            font-family: 'Raleway', sans-serif;
        }
        
        .parallax-section {
            background: url('./../imgs/b.jpg') content-box center fixed;
        }
        
        .page-footer {
            padding-top: 20px;
            color: #fff;
            background-color: #222;
        }
        
        .short-text {
            background: url('./../imgs/abov-the-fold-background.jpg');
            margin-top: -20px !important;
            color: #eee;
            text-align: center;
            font-family: 'Raleway', sans-serif
        }
        
        .smaller-text {
            font-size: 1.2rem;
            font-weight: 300;
        }
        .mtop{
            margin-top: 20px
        }

 /* Dropdown Button */
/*.dropbtn {
  background-color: #228B22;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

/* Dropdown button on hover & focus */
/*.dropbtn:hover, .dropbtn:focus {
  background-color: #228B22;
}

/* The container <div> - needed to position the dropdown content */
/*.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
/*.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
/*.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
/
/* Show the dropdown menu (use JS to add this class to the .dropdown-content container when the user clicks on the dropdown button) */
.show {display:block;}